.title {
  font-size: 16px;
  &__delete {
    font-size: 18px;
    color: red;
  }
}

.modal-item {
  display: flex;
  justify-content: start;
  gap: 10px;
  margin-bottom: 5px;
}

.input-wrapper {
  width: 300px;
}

.form-error {
  color: red;
}