.container {
  padding: 20px;
}

.select {
  cursor: pointer;
  transition: all 0.4s;

  &:hover {
    scale: 105%;
    border-color: rgb(5, 142, 233);
  }
}

.cars-list-option {
  display: flex;
  justify-content: space-between;
}